*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
  
    position: relative;
}

body {   
    background: linear-gradient(90deg, rgb(240, 182, 240), rgb(144, 187, 140));
}

.movies{  
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 100px;
    padding: 50px;
    width: 80%;
    padding-top: 70px;
}